<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large"> How many times? </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      button
      (click)="productGroupSelected(productGroup)"
      *ngFor="let productGroup of productGroups()"
    >
      <ion-label>{{ productGroup.name }}</ion-label>
      <ion-button
        slot="end"
        (click)="presentActionSheet(productGroup); $event.stopPropagation()"
      >
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline" />
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
