<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large"> How many times used? </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Group list -->

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let productGroup of productGroups()">
      <ion-label>{{ productGroup.name }}</ion-label>
    </ion-item></ion-list
  >

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button id="add-product-group">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="add-product-group" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <app-product-group-new
        (cancelEvent)="cancel()"
        (confirmEvent)="confirm($event)"
      ></app-product-group-new>
    </ng-template>
  </ion-modal>
</ion-content>
